<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://java.sun.com/xml/ns/javaee">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
    <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <!--MATERIALIZE CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{~/style.css}" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
    <!--MATERIALIZE JS-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<style>


</style>
<body>
<nav class="red darken-3 lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><i class="large material-icons">invert_colors</i>DROPBLOOD</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Panel RCK</a></li>
        </ul>

        <!--<ul id="nav-mobile" class="side-nav">-->
        <!--<li><a href="#">Panel RCK</a></li>-->
        <!--</ul>-->
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>


<form class="form-default col-6 center" th:method="post" th:action="@{~/bloodrequest}" th:object="${bloodRequest}" style="max-width: 600px;margin:0 auto;">
    <h3>Grupa Krwi</h3>
    <div class="input-field col s12">
        <select name="bloodGroup" id="bloodGroup" th:field="*{bloodGroup}">
            <option value="" disabled="disabled" selected="selected">Wybierz grupę krwi</option>
            <option value="A_Rh_minus">A RH-</option>
            <option value="A_Rh_plus">A RH+</option>
            <option value="B_Rh_minus">B RH-</option>
            <option value="B_Rh_plus">B RH+</option>
            <option value="AB_Rh_minus">AB RH-</option>
            <option value="AB_Rh_plus">AB RH+</option>
            <option value="Zero_Rh_minus">0 RH-</option>
            <option value="Zero_Rh_plus">0 RH+</option>
        </select>
    </div>


    <div class="form-group row">
        <label for="data" class="col-2 col-form-label">Data</label>
        <input id="data" th:name="date" th:field="*{date}" type="text" class="datepicker"/>
    </div>
    <div class="input-field col s12">
        <select name="rck" id="rck" th:field="*{rck}">
            <option value="" disabled="disabled" selected="selected">Wybierz grupę krwi</option>
            <option value="RCK Krakow">RCK Krakowskie</option>
            <option value="RCK Katowice">RCK Katowickie</option>
            <option value="RCK Warszawa">RCK Warszawskie</option>
        </select>
        <label for="rck">Rck</label>
    </div>
    <div class="input-field col s12">
        <input th:name="city" id="city" th:field="*{city}" type="text" class="validate"/>
        <label for="city">City</label>
    </div>
    <div class="input-field col s12">
        <input id="patient" type="text" th:field="*{patient}" class="validate"/>
        <label for="patient">Pacjent (opcjonalnie) </label>
    </div>
    <button class="waves-effect waves-light btn-large red darken-3" type="Submit" value="Add">
        <i class="material-icons right">invert_colors</i>Wyślij</button>


    </form>
</body>
</html>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Dzisiaj',
        clear: 'Wyczyść',
        close: 'Ok',
        closeOnSelect: true, // Close upon selecting a date,
        format: 'dd-mm-yyyy'
    });

</script>