<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Wicked Puppets" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blood Drop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <!--MATERIALIZE CSS-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

    <!--MATERIALIZE JS-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/style.css}" />

</head>
<body>
<nav class="red darken-3 lighten-1" role="navigation">

<div class="nav-wrapper container">
    <a id="logo-container " th:href="@{~/}" class="brand-logo"><i class="large material-icons">invert_colors</i>DROPBLOOD</a>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
</nav>
<br/>
<div class="row">
    <form class="center" th:action="@{~/fill}" th:object="${donor}" modelAttribute="donor" method="POST">

        <div class="row">
            <div class="input-field col s12">
                <input name="name" id="name" type="text" th:field="*{name}" class="validate" />
                <label for="name">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" th:field="*{email}" class="validate" />
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <select name="bloodGroup" id="bloodGroup" th:field="*{bloodGroup}">
                <option value="" th:disabled="disabled" th:selected="selected">Choose your option</option>
                <option value="A_Rh_minus">A RH-</option>
                <option value="A_Rh_plus">A RH+</option>
                <option value="B_Rh_minus">B RH-</option>
                <option value="B_Rh_plus">B RH+</option>
                <option value="AB_Rh_minus">AB RH-</option>
                <option value="AB_Rh_plus">AB RH+</option>
                <option value="Zero_Rh_minus">0 RH-</option>
                <option value="Zero_Rh_plus">0 RH+</option>

            </select>
            <label for="bloodGroup">Select blood group</label>
        </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="city" name="city" type="text" th:field="*{city}" class="validate" />
                <label for="city">City</label>
            </div>
        </div>

        <button class="waves-effect waves-light btn-large red darken-3" type="Submit" value="Add">
            <i class="material-icons right">invert_colors</i>SEND</button>

    </form>
</div>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
</body>
</html>