<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="copy">
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"></link>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <!--MATERIALIZE CSS-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"></link>

    <!--MATERIALIZE JS-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/custom.css"></link>
</head>
<body>

<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>Request ID: 1234</p>
                <p>Name of blood bank: Regionalne Centrum Krwiodawstwa i Krwiolecznictwa w Krakowie</p>
                <p>Contact: +12 261 88 03</p>
                <p>Address: ul. Rzeźnicza 11, 31-540 Kraków</p>
                <p>You need to know before you donate blood: http://rckik.krakow.pl/jak-oddac-krew/</p>
                <div class="google-map-wrapper no_border">
                    <div class="google-map" id="google-map-area-59b3250e96208"
                         style="width: 100%; height: 200px; position: relative; overflow: hidden;">
                        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                            <div class="gm-style"
                                 style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
                                <div tabindex="0"
                                     style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;">
                                    <div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                                            <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                                <div aria-hidden="true"
                                                     style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                                    <div style="width: 256px; height: 256px; position: absolute; left: -116px; top: -229px;"></div>
                                                    <div style="width: 256px; height: 256px; position: absolute; left: -116px; top: 27px;"></div>
                                                    <div style="width: 256px; height: 256px; position: absolute; left: 140px; top: -229px;"></div>
                                                    <div style="width: 256px; height: 256px; position: absolute; left: 140px; top: 27px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                                            <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                                                <div aria-hidden="true"
                                                     style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                                    <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -116px; top: -229px;"></div>
                                                    <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -116px; top: 27px;"></div>
                                                    <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 140px; top: -229px;"></div>
                                                    <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 140px; top: 27px;">
                                                        <canvas draggable="false" height="512" width="512"
                                                                style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
                                            <div style="overflow: hidden; width: 340px; height: 200px;"><img
                                                    src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i1164660&amp;2i710629&amp;2e1&amp;3u13&amp;4m2&amp;1u340&amp;2u200&amp;5m5&amp;1e0&amp;5spl-PL&amp;6sus&amp;10b1&amp;12b1&amp;token=23191"
                                                    style="width: 340px; height: 200px;"></img></div>
                                        </div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                            <div aria-hidden="true"
                                                 style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                                <div style="position: absolute; left: -116px; top: -229px; transition: opacity 200ms ease-out;">
                                                    <img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i4549!3i2775!4i256!2m3!1e0!2sm!3i389086796!3m9!2spl-PL!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2&amp;token=113667"
                                                         draggable="false" alt=""
                                                         style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></img>
                                                </div>
                                                <div style="position: absolute; left: -116px; top: 27px; transition: opacity 200ms ease-out;">
                                                    <img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i4549!3i2776!4i256!2m3!1e0!2sm!3i389086796!3m9!2spl-PL!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2&amp;token=73946"
                                                         draggable="false" alt=""
                                                         style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></img>
                                                </div>
                                                <div style="position: absolute; left: 140px; top: -229px; transition: opacity 200ms ease-out;">
                                                    <img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i4550!3i2775!4i256!2m3!1e0!2sm!3i389086820!3m9!2spl-PL!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2&amp;token=73618"
                                                         draggable="false" alt=""
                                                         style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></img>
                                                </div>
                                                <div style="position: absolute; left: 140px; top: 27px; transition: opacity 200ms ease-out;">
                                                    <img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i4550!3i2776!4i256!2m3!1e0!2sm!3i389086820!3m9!2spl-PL!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2&amp;token=33897"
                                                         draggable="false" alt=""
                                                         style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></img>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gm-style-pbc"
                                         style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;">
                                        <p class="gm-style-pbt"></p></div>
                                    <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;">
                                        <div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div>
                                    </div>
                                    <div style="z-index: 4; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
                                    </div>
                                </div>
                                <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
                                    <a target="_blank"
                                       href="https://maps.google.com/maps?ll=50.056117,19.956274&amp;z=13&amp;t=m&amp;hl=pl-PL&amp;gl=US&amp;mapclient=apiv3"
                                       title="Kliknij, aby wyświetlić ten obszar w serwisie Mapy Google"
                                       style="position: static; overflow: visible; float: none; display: inline;">
                                        <div style="width: 66px; height: 26px; cursor: pointer;"><img
                                                src="http://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png"
                                                draggable="false"
                                                style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></img>
                                        </div>
                                    </a></div>
                                <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 20px; top: 10px;">
                                    <div style="padding: 0px 0px 10px; font-size: 16px;">Dane mapy</div>
                                    <div style="font-size: 13px;">Dane do Mapy ©2017 Google</div>
                                    <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;">
                                        <img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"
                                             draggable="false"
                                             style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></img>
                                    </div>
                                </div>
                                <div class="gmnoprint"
                                     style="z-index: 1000001; position: absolute; right: 263px; bottom: 0px; width: 62px;">
                                    <div draggable="false" class="gm-style-cc"
                                         style="user-select: none; height: 14px; line-height: 14px;">
                                        <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                            <div style="width: 1px;"></div>
                                            <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                        </div>
                                        <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                                            <a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer;">Dane
                                                mapy</a><span style="display: none;">Dane do Mapy ©2017 Google</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
                                    <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">
                                        Dane do Mapy ©2017 Google
                                    </div>
                                </div>
                                <div class="gmnoprint gm-style-cc" draggable="false"
                                     style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 108px; bottom: 0px;">
                                    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                        <div style="width: 1px;"></div>
                                        <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                    </div>
                                    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                                        <a href="https://www.google.com/intl/pl-PL_US/help/terms_maps.html"
                                           target="_blank"
                                           style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Warunki
                                            korzystania z programu</a></div>
                                </div>
                                <div style="cursor: pointer; width: 25px; height: 25px; overflow: hidden; margin: 10px 14px; position: absolute; top: 0px; right: 0px;">
                                    <img src="http://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false"
                                         class="gm-fullscreen-control"
                                         style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></img>
                                </div>
                                <div draggable="false" class="gm-style-cc"
                                     style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
                                    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                        <div style="width: 1px;"></div>
                                        <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                    </div>
                                    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                                        <a target="_new"
                                           title="Zgłoś do Google błędy na mapie drogowej lub na zdjęciach."
                                           href="https://www.google.com/maps/@50.056117,19.956274,13z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3"
                                           style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Zgłoś
                                            błąd w mapach</a></div>
                                </div>
                                <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false"
                                     controlwidth="0" controlheight="0"
                                     style="margin: 10px; user-select: none; position: absolute; display: none; bottom: 14px; right: 0px;">
                                    <div class="gmnoprint" controlwidth="28" controlheight="0"
                                         style="display: none; position: absolute;">
                                        <div title="Obróć mapę o 90 stopni"
                                             style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; cursor: pointer; background-color: rgb(255, 255, 255); display: none;">
                                            <img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png"
                                                 draggable="false"
                                                 style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></img>
                                        </div>
                                        <div class="gm-tilt"
                                             style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);">
                                            <img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png"
                                                 draggable="false"
                                                 style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></img>
                                        </div>
                                    </div>
                                </div>
                                <div class="gmnoprint"
                                     style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;">
                                    <div class="gm-style-mtc" style="float: left;">
                                        <div draggable="false" title="Pokaż mapę ulic"
                                             style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 28px; font-weight: 500;">
                                            Mapa
                                        </div>
                                        <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; left: 0px; top: 29px; text-align: left; display: none;">
                                            <div draggable="false" title="Pokaż mapę ulic z terenem"
                                                 style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;">
                                                <span role="checkbox"
                                                      style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div
                                                        style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img
                                                        src="http://maps.gstatic.com/mapfiles/mv/imgs8.png"
                                                        draggable="false"
                                                        style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></img></div></span><label
                                                    style="vertical-align: middle; cursor: pointer;">Teren</label></div>
                                        </div>
                                    </div>
                                    <div class="gm-style-mtc" style="float: left;">
                                        <div draggable="false" title="Pokaż zdjęcia satelitarne"
                                             style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-left: 0px; min-width: 37px;">
                                            Satelita
                                        </div>
                                        <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; right: 0px; top: 29px; text-align: left; display: none;">
                                            <div draggable="false" title="Pokaż zdjęcia z nazwami ulic"
                                                 style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;">
                                                <span role="checkbox"
                                                      style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div
                                                        style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img
                                                        src="http://maps.gstatic.com/mapfiles/mv/imgs8.png"
                                                        draggable="false"
                                                        style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></img></div></span><label
                                                    style="vertical-align: middle; cursor: pointer;">Etykiety</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>